:root {
    --panel-color: linear-gradient(#12a3eb 1%, #2f78af 10% 100%);

    --text-color: #555555;
    --text-heading-color: black;
    --text-highlight-color: rgb(34, 69, 121);
    --text-primary-color: #555555;


    --button-color: linear-gradient(#e5f0f8, #bbc9d3);

    --font-primary: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    --font-secondary: Verdana, Geneva, Tahoma, sans-serif;

    --hover-color: rgb(196, 14, 14);

    --hr-color: #eeeeee;
}

p {
    margin: 0;
    padding: 0;
}

.rounded {
    border-radius: 15px;
}

.shadow {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.185);
}

body {
    background-image: linear-gradient(#adceee, #2f4a6d);
    color: white;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

#container {
    width: 65%;
    margin: 10px auto;
    overflow: auto;
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(226, 226, 226), whitesmoke);
}

nav {
    background-image: linear-gradient(rgb(30, 61, 107), rgb(65, 107, 170));
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    padding: 10px;
}

nav > ul > li > a {
    color: white;
    text-shadow: 2px 2px 10px black;
}

#nav-buttons > li:hover, #nav-buttons a:hover, #nav-user > li:hover, #nav-user > li > a:hover {
    background-color: rgb(175, 181, 207);
    text-decoration: none;
    color: white;
}

#search-box { 
    padding: 0px 10px;
}

#body-container {
    width: 90%;
    margin: 0px auto;
}

#body-container > * {
    margin-top: 15px;
}

#overview-header img {
    width: 100%;
    height: 15rem;
}

#overview-header-container {
    position: relative;
    overflow: hidden;
}

#overview-header-container > h1 {
    position: absolute;
    margin: 0 0 25px 25px;
    bottom: 0;
}

.posts-container {
    background-image: var(--panel-color);
    padding: 10px 15px;
}

.posts-container > h4 {
    margin: 0 0 8px 0;
    text-transform: uppercase;
}

.post {
    background-color: #EEF5F9;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    border-top: solid 1px white;
    font-size: 0.8rem;
    color: #555555;
}


.post-img-container {
    padding: 0 15px;
}

.post-header-container {
    padding: 15px;
    width: 70%;
}

.post-header-link {
    font-size: 1rem;
}

.post-header-content {
    margin: 0;
    color: #555555;
}

.post-meta-container {
    font-size: .7rem;
    margin: 10px 0 auto 0;
    text-align: end;
    padding: 5px;
}
.post-meta-container > p {
    margin: 0;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #555555;
    font-size: .8rem;
}

.content-page-header {
    color: var(--text-heading-color);
}

hr {
    color: var(--hr-color);
}

.paging-button {
    padding: 3px 6px;
    color: black;
}

.base-button {
    background-image: var(--button-color);
    border: 1px solid rgb(142, 145, 151);
    border-radius: 5px;
}
.base-button:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
    cursor: pointer;
}
