#body-container > h4 {
    color: black;
}

#profile-categories {
    background-color: var(--panel-color);
    overflow: hidden;
}

#profile-header {
    display: inline;
}

#profile-info {
    float: left;
    height: 10rem;
    margin-right: 15px;
}

.profile-img {
    border: solid 1px black;
}

#profile-info > h3 {
    color: var(--text-heading-color);
}

.profile-info-secondary {
    color: var(--text-color);
    font-size: .8rem;
    margin:0;
}

#profile-categories > ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

#profile-categories > ul > li {
    margin-right: 15px;
    padding: 15px;
}

#profile-categories > ul > li:hover {
    background-color: var(--hover-color);
}

#profile-categories > ul > li > a {
    color: white;
}

.clearfix {
    overflow: auto;
}
